

#apps {
    width: 20px;
    height: auto; 

}



#signIn {
    font-weight: bold;
    border: 1px solid #4285f4;
    background:#4285f4;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: 28px


}

li:hover {
    text-decoration: underline;

}


#navblock1, #navblock2{
    position: absolute;
    font-size: 13px;

}

#navblock1{
    left:0%;
}

#navblock2{
   right: 0;
}

li {
display: inline;
padding: 10px;

}


#logosearch {
    padding: 200px;
}

#search {
    
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
    height: 30px;

}

#logo {

    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
}

#button1:hover, #button2:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#button1:focus, #button2:focus {
    border-color: blue;
}

#buttons {
text-align: center;
padding: 25px;
}

#button1, #button2{
    
    background-color: #f2f2f2;
    border: 1px;
    padding: 10px;
    margin:  10px;
}

#botBlock {
    height: 148px;
    position: relative;
    background: linear-gradient(white 75%, #eeeeee 25% );
}

#botBlock1, #botBlock2{
    color: grey;
    background: #eeeeee;
    position:absolute;
    bottom: 0%;
    font-size: 14px;

}

#botBlock2
{

    right:0%;
}

#botBlock1{
    
    left:0%;
}